/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.footer-bg {
  display: block;
  box-sizing: border-box;
  padding-top: 40px;
  margin-top: 80px;
  position: relative;
  background-image: url(../img/525298037.jpg);
  background-repeat: none;
  background-position: top;
  background-size: cover;
  min-height: 800px;
  color: #fff; }
  .footer-bg a {
    text-decoration: none; }

.footer {
  border: 1px solid #f00;
  min-height: 500px; }

.footer-column-one {
  border: 1px solid #ff0;
  background: #333333; }

.footer-column-two {
  border: 1px solid #fff;
  background: #333333; }

.footer-column-three {
  border: 1px solid #f00;
  background: #333333; }

.footer-bottom {
  display: block;
  background: #333333;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 20px 0; }

.site-by {
  float: right; }

.copy-right {
  float: left; }
