/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0 0 0 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%; }

.span_3_of_4 {
  width: 74.6%; }

.span_2_of_4 {
  width: 49.2%; }

.span_1_of_4 {
  width: 23.8%; }

/*  GO FULL WIDTH BELOW 500 PIXELS */
@media only screen and (max-width: 770px) {
  .col {
    margin: 0 0 0 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%; } }

.span_6_of_6 {
  width: 100%;
  box-sizing: border-box; }

.span_5_of_6 {
  width: 83.06%;
  box-sizing: border-box; }

.span_4_of_6 {
  width: 66.13%;
  box-sizing: border-box; }

.span_3_of_6 {
  width: 49.2%;
  box-sizing: border-box; }

.span_2_of_6 {
  width: 32.26%;
  box-sizing: border-box; }

.span_1_of_6 {
  width: 15.33%;
  box-sizing: border-box; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 {
    width: 100%;
    box-sizing: border-box; } }

body {
  background: #999;
  color: #fff; }
  body a {
    text-decoration: none;
    color: #fff; }

/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.header a {
  text-decoration: none;
  text-align: center; }

.header ul {
  list-style: none; }

.header li {
  text-align: center; }

.header .nav-container ul:after {
  overflow: hidden; }

#header-nav-container #navigation:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

#header-nav-container #navigation > li {
  float: left;
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-right: 15px; }
  #header-nav-container #navigation > li:last-child {
    margin: 0; }

#header-nav-container #navigation li a {
  display: block;
  padding: 10px;
  background: #000; }

#header-nav-container #navigation ul.sub-menu {
  display: none; }

#header-nav-container #navigation li.drop:hover ul.sub-menu {
  display: block;
  position: absolute;
  top: 75px;
  left: -49px; }

#header-nav-container #navigation ul.sub-menu li {
  display: block; }

#header-nav-container #navigation ul.sub-menu a {
  display: block;
  padding: 10px;
  white-space: nowrap; }

#header-nav-container #navigation li.drop {
  background: #f00; }

#header-nav-container #navigation .drop {
  border: 10px solid #ff0; }

#header-nav-container #navigation .drop:hover {
  border: 10px solid #fff; }

body {
  font-size: 18px; }

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ff0; }
