@import 'var';

.footer-bg{
	display: block;
	box-sizing: border-box;
	padding-top: 40px;
	margin-top: 80px;
	position: relative;
	background-image: url(../img/525298037.jpg);
	background-repeat: none;
	background-position: top;
	//background-attachment: fixed;
	//background-position: $x $y;
	background-size: cover;
	min-height: 800px;

	color: $white;
	a{
		text-decoration: none;
	}
}

.footer{
	border: 1px solid #f00;
	
	min-height: 500px;
}

.footer-column-one{
	border: 1px solid #ff0;
	background: $darkgray;
}

.footer-column-two{
	border: 1px solid #fff;
	background: $darkgray;
}

.footer-column-three{
	border: 1px solid #f00;
	background: $darkgray;
}

.footer-bottom{
	display: block;
	background: $darkgray;
	position: absolute;
	bottom: 50px;
	width: 100%;
	padding: 20px 0;
	//opacity: 
}
.site-by{
	float: right;

}
.copy-right{
	float: left;
}