@import 'var';

.header{

	a{ text-decoration: none;
		text-align: center;		
	}
	ul{ list-style: none;}
	li{ text-align: center;}
	
	.nav-container ul:after{
		overflow: hidden;
	}
}

.logo{
	width: 150px;
	height: 80px;
	border: 1px solid #f00;
	display: block;
	float: left;
}

#header-nav-container{
	#navigation{
		display: block;
		float: right;
		&:after{ @include clearFix; }
	}

	#navigation > li{
		float: left;
		display: block;
		position: relative;
		box-sizing: border-box;
		//margin-right: 15px;
		//&:last-child{ margin: 0;}
	}

	#navigation li a{
		display: block;
		padding: 10px 15px;
		background: #666;
		color: #999;
		&:hover{
			color: #fff;
			background: #333;
		}
	}
	
	#navigation ul.sub-menu{
		display: none;
	}

	#navigation li.drop:hover ul.sub-menu{
		display: block;
		position: absolute;
		top: 43px;
		left: -40px;
		z-index: 100;
	}
	
	#navigation ul.sub-menu{
		li{
			display: block;
		}
		a{
			display: block;
			padding: 10px 15px;;
			white-space: nowrap;
		}
	
	}
	#navigation li.drop{
		/*contents of list*/
	}

	#navigation .drop{
	}
	
	#navigation .drop:hover {
	}

	&:after{ @include clearFix; }
}

